<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Library -->
      <package
            uri="sa.edu.cs.librarianrobot.librarymodel"
            class="sa.edu.cs.librarianrobot.modeling.librarypackage.LibrarypackagePackage"
            genModel="model/Library.genmodel"/>
   </extension>

</plugin>
